yt-dlp
youtube-transcript-api
google-api-python-client
sentence-transformers
numpy
transformers
google-generativeai
langchain==0.2.0
langchain-community
langchain-google-genai
faiss-cpu
python-dotenv
gradio==4.24.0
pydantic==2.6.4
